@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo+Mono:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo+Mono:ital,wght@0,500;1,200&display=swap");

@font-face {
  font-family: DarkFont;
  src: url(assets/DarkmodeRegular-X35Oo.ttf);
}

body {
  color: white;
  background-color: black;
}

header {
  padding: 5% 5%;
}

section {
  padding: 2% 15%;
}

header,
nav,
#home {
  background-color: rgb(0, 0, 0) !important;
}

nav ul {
  list-style-type: none;
  margin-left: auto;
  font-family: "Chivo Mono", monospace;
}

.txt-nav {
  color: white;

  font-size: 1.5rem;
}

.txt-nav:hover,
.txt-marca:hover,
.link-red:hover {
  color: rgb(191, 17, 17);
  transition: 500ms;
}

.link-red {
  text-decoration: none;
  color: white;
}
.link-red:hover {
  transition: 1100ms;
}
.txt-nav:focus,
.txt-nav:active,
.txt-marca:focus,
.txt-marca:active{
  color: rgb(191, 17, 17);
}

#home {
  min-height: 650px;
}

.title-image {
  max-width: 80%;
}

.div-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-marca {
  color: white;
  font-size: 3rem;
  font-family: "Bebas Neue", cursive;
}

.li-nav {
  margin: 0 1rem;
}

.txt-h1 {
  font-size: 3rem;
  padding: 25px;

  font-family: "Bebas Neue", cursive;
}

.txt-p {
  font-size: 2.3rem;
  padding: 20px;

  font-family: "Chivo Mono", monospace;
}

.teste {
  display: inline-block;
}

.main-p {
  padding-right: 50px;
  text-align: left;
}

.row-membros {
  padding-top: 50px;
}

.container-perfil {
  display: flex;
}

.box {
  width: 45%;
}

.descricao-perfil {
  padding-left: 40px;
}

.title-perfil {
  font-family: "Chivo Mono", monospace;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.texto-perfil {
  font-family: "Chivo Mono", monospace;
  margin: 10px;
}

.img-perfil {
  border-radius: 50%;

  width: 150px;
  height: 150px;

  border: solid 3px rgb(255, 255, 255);
}

.link-contact{
  text-decoration: none;
  color: rgb(214, 73, 73);
}

.img-portfolio { 
  width: 150px;
  height: 150px;

  border: solid 3px rgb(255, 255, 255);
}

@media (max-width: 1000px) {
  .navbar-toggle-icon::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
  }

  .link-red {
    display: block;
    margin: 10px;
  }

  .txt-nav {
    font-size: 1rem;
    padding: 10px 10px 10px 0;
  }
  .navbar-nav {
    padding-left: 0px;
  }
  .nav-item {
    margin-left: 0px;
  }
  .txt-marca {
    font-size: 3rem;
  }

  .txt-h1 {
    text-align: center;
  }

  .txt-p {
    font-size: 1.3rem;

    text-align: center;
  }

  .main-p {
    padding-right: 20px;
    text-align: main;
  }
  .container-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .descricao-perfil {
    padding: 40px 0px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .txt-marca {
    font-size: 2rem;
  }
}
